#edd-payout-schedule-form .edd-payout-schedule-field {
  margin: 0 0 .5em; }

#edd-payout-schedule-form .edd-fixed-label {
  width: 60px;
  padding-right: 10px;
  display: inline-block; }

#edd-payout-schedule-form .edd-payout-schedule-input {
  display: inline-block; }

#edd-payout-schedule-form .edd-payout-schedule-input label + label {
  padding-left: 10px; }
