#edd-payout-schedule-form {
    .edd-payout-schedule-field {
        margin: 0 0 .5em;
    }
    .edd-fixed-label {
        width: 60px;
        padding-right: 10px;
        display: inline-block;
    }
    .edd-payout-schedule-input {
        display: inline-block;
    }
    .edd-payout-schedule-input label + label {
        padding-left: 10px;
    }
}

.wp-core-ui .button-delete {
    color: #fff;
    background: #e83939;
    border-color: #c71919 #bd2626 #c11a1a;
    text-shadow: 0 -1px 1px #b71c1c, 1px 0 1px #bb1818, 0 1px 1px #c31515, -1px 0 1px #b91919;

    &:hover,
    &:focus {
        color: #fff;
        background: #ce3030;
        border-color: #9c0808 #9a0f0f #a00808;
    }
}