#edd-payout-schedule-form .edd-payout-schedule-field {
  margin: 0 0 .5em; }

#edd-payout-schedule-form .edd-fixed-label {
  width: 60px;
  padding-right: 10px;
  display: inline-block; }

#edd-payout-schedule-form .edd-payout-schedule-input {
  display: inline-block; }

#edd-payout-schedule-form .edd-payout-schedule-input label + label {
  padding-left: 10px; }

.wp-core-ui .button-delete {
  color: #fff;
  background: #e83939;
  border-color: #c71919 #bd2626 #c11a1a;
  text-shadow: 0 -1px 1px #b71c1c, 1px 0 1px #bb1818, 0 1px 1px #c31515, -1px 0 1px #b91919; }
  .wp-core-ui .button-delete:hover, .wp-core-ui .button-delete:focus {
    color: #fff;
    background: #ce3030;
    border-color: #9c0808 #9a0f0f #a00808; }

.payout-status {
  display: inline-flex;
  line-height: 2.5em;
  color: #777;
  background: #e5e5e5;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: -.25em 0;
  cursor: inherit !important;
  white-space: nowrap;
  max-width: 100%; }
  .payout-status span {
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis; }
  .payout-status.pending {
    background: #f8dda7;
    color: #94660c; }
  .payout-status.failed, .payout-status.canceled {
    background: #eba3a3;
    color: #761919; }
  .payout-status.processing {
    background: #c6e1c6;
    color: #5b841b; }
  .payout-status.complete {
    background: #c8d7e1;
    color: #2e4453; }

#payout_recipients .hndle {
  display: none; }

#payout_recipients .inside {
  display: block !important;
  margin: 0;
  padding: 0;
  background: #fefefe; }

.edd-commissions-payouts-table {
  width: 100%;
  background: #ffffff; }
  .edd-commissions-payouts-table thead th {
    text-align: left;
    padding: 1em;
    font-weight: 400;
    color: #999;
    background: #f8f8f8;
    user-select: none; }
    .edd-commissions-payouts-table thead th:first-child {
      padding-left: 2em; }
    .edd-commissions-payouts-table thead th:last-child {
      padding-right: 2em; }
  .edd-commissions-payouts-table td {
    padding: 1.5em 1em 1em;
    text-align: left;
    line-height: 1.5em;
    vertical-align: top;
    border-bottom: 1px solid #f8f8f8; }
    .edd-commissions-payouts-table td:first-child {
      padding-left: 2em; }
    .edd-commissions-payouts-table td:last-child {
      padding-right: 2em; }
  .edd-commissions-payouts-table tr:first-child td {
    border-top: none; }

.edd_payout_note {
  word-break: break-word;
  padding: 10px;
  background: #efefef;
  position: relative;
  margin: 0 0 10px; }
  .edd_payout_note.payout_error {
    background: #fff0f0;
    color: #761919; }
