#edd_user_payout_methods {
  margin: 0 0 1.5em; }

.edd_payout_method_icon {
  height: 30px;
  width: 120px; }
  .edd_payout_method_icon img {
    max-height: 100%; }

.edd_payout_methods td:first-child {
  text-align: center; }

.edd_payout_methods td {
  text-align: right; }

.edd_commissions_payouts_alert.loading .sa-icon.sa-custom {
  display: inline-block !important; }
  .edd_commissions_payouts_alert.loading .sa-icon.sa-custom:after {
    content: " ";
    display: block;
    width: 70px;
    height: 70px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25) transparent rgba(0, 0, 0, 0.25) transparent;
    animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
